name: Add to project job

on:
  workflow_call

jobs:
  add-to-project:
    if: github.event.repository.fork == false
    runs-on: ubuntu-latest

    steps:
      - name: Add to Commerce PR project
        if: github.event_name == 'pull_request'
        uses: actions/add-to-project@v1.0.2
        with:
          project-url: https://github.com/orgs/AdobeDocs/projects/5 # The organizational project for pull requests
          github-token: ${{ secrets.COMMERCE_PROJECT_AUTOMATION }}
      
      - name: Add to Commerce Issue project
        if: github.event_name == 'issues'
        uses: actions/add-to-project@v1.0.2
        with:
          project-url: https://github.com/orgs/AdobeDocs/projects/6 # The organizational project for issues
          github-token: ${{ secrets.COMMERCE_PROJECT_AUTOMATION }}
