##### Aggregate Commerce PRs and Issues into a respective Organizational Project #####

name: Add pull requests and issues to projects

on:
  pull_request:
    types:
      - opened
  issues:
    types: 
      - opened

jobs:
  call-workflow-add-to-project:
    uses: ./.github/workflows/add-to-project_job.yml
    secrets: inherit
